{{ name }} ({{ version }}-{{ release }}~{{ ubuntu_release}}) {{ ubuntu_release }}; urgency=low

{% block changelog %}
  * Initial release
{% endblock %}

{% block maintainer %}
 -- Kristoffer Kleine (kkris) <kris.kleine@yahoo.de>  {{ timestamp }}
{% endblock %}
