{{ name }} ({{ version }}-{{ release }}) stable; urgency=low

{% block changelog %}
  * Initial release
{% endblock %}

{% block maintainer %}
 -- Kristoffer Kleine (kkris) <kris.kleine@yahoo.de>  {{ timestamp }}
{% endblock %}
