This work was packaged for Debian by:

    {% block maintainer %}Kristoffer Kleine (kkris) <kris.kleine@yahoo.de>{% endblock %} on {{ timestamp }}

It was downloaded from:

    {{ url }}

Upstream Author(s):

    <{{ author }} {{ author_email }}>

Copyright:

    <Copyright (C) 2011 {{ author }}>

License:

    Redistribution and use in source and binary forms, with or without
    modification, are permitted under the terms of the LGPL.

    This library is free software; you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation; either version 2.1 of the License, or
    (at your option) any later version.

    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Lesser General Public License for more details.

On Debian systems, the complete text of the LGPL License can be
found in "/usr/share/common-licenses/LGPL".

The Debian packaging is:

    Copyright (C) 2011 {% block maintainer2 %}Kristoffer Kleine (kkris) <kris.kleine@yahoo.de>{% endblock %}

and is licensed under the LGPL license,
see "/usr/share/common-licenses/LGPL".
