pkgname="{{ name }}"
pkgver={{ version }}
pkgrel={{ release }}
pkgdesc="{{ description }}"
arch=('i686' 'x86_64')
url="{{ url }}"
license=({{ license }})
groups=()
depends=({% block depends %}{% endblock %})
source=({{ source }})
md5sums=('{{ checksum }}')

build() {
  cd $srcdir/$pkgname-$pkgver-$pkgrel/
  find . -iname '*.py' -type f -exec sed -i -e 's|#!/usr/bin/env python|#!/usr/bin/env python2|' {} \;
  python2 setup.py install --prefix=/usr --root="$pkgdir" || return 1
}
